.wrapper {
  background: grey;
}

#logForm {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background: pink;
}

#log {
  background: red
}

.chatBox {
  background: red;
  margin: 10px;
  height: 250px;
}
#msgBtn {
  background: blue;
  margin: 10px;
  height: 30px;
}
.ipt {
  margin: 10px
}

.box {
  background: grey;
}